<a href="https://colab.research.google.com/github/berfino/pandas_examples/blob/main/Pandas02_examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
df_tips = pd.read_csv('tips.csv')
df_tips.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251

##df_tips içindeki Payment ID column'unun son 3 rakamını çekin. Bu işlemi 3 farklı yolla da yapmaya çalışın.

In [ ]:
df_tips['Payment ID'].str[4:]

0      959
1      608
2      458
3      260
4      251
      ...
239    657
240    766
241    880
242      7
243    672
Name: Payment ID, Length: 244, dtype: object

In [ ]:
df_tips['Payment ID'].apply(lambda x: x[-3:])

0      959
1      608
2      458
3      260
4      251
      ...
239    657
240    766
241    880
242    t17
243    672
Name: Payment ID, Length: 244, dtype: object

In [ ]:
df_tips['Payment ID'].map(lambda x: x[-3:])

0      959
1      608
2      458
3      260
4      251
      ...
239    657
240    766
241    880
242    t17
243    672
Name: Payment ID, Length: 244, dtype: object

##df_tips içindeki Payer Name sütununda isim ve soy isim bilgileri bulunuyor. O sütundan sadece isim bilgileri çekin ve 'JustName' adında yeni bir column oluşturun. (Bu biraz zorlayıcı olabilir, Önce kendiniz yapmaya çalışın fakat yapamazsanız ChatGPT'ye soruyu düzgünce sorarak cevabını kod olarak alabilirsiniz, ardından döndürülen kodu anlamaya çalışmanız yeterlidir.)

In [ ]:
df_tips['JustName'] = df_tips['Payer Name'].str.split().str[0] # str[0] ifadesi payer name in içerdiği iki index arasında ilk index i çekmek istediğimizi belirtiyor.

In [ ]:
df_tips.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,JustName
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959,Christy
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608,Douglas
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458,Travis
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260,Nathaniel
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251,Tonya

##2.Soruda yeni oluşturduğunuz 'JustName' sütunundaki verilerin her birinden kaç tane olduğuna uygun methodu kullanarak bakın.

In [ ]:
df_tips.value_counts('JustName')

JustName
Jason          9
Michael        7
James          6
David          6
Christopher    5
              ..
Heather        1
Grant          1
Gordon         1
Glenn          1
Kelly          1
Length: 153, dtype: int64

##  3.Soruda gördüğünüz gibi JustName sütununda 'Jason' isminden 9 tane, 'Michael' isminden 7 tane , 'James' isminden 6 tane bulunuyor. Peki bunların hepsi gerçekten farklı kişiler mi ? Hemen 'Payer Name' sütunundaki verilerin adetlerini de saydırtarak bir kıyaslama yapın. 'JustName' sütununu kullanmanın faydasız ve yanıltıcı olabileceğini görün ardından oluşturduğumuz 'JustName' sütununu kalıcı olarak drop edin. (Oluşturmanız için bir pratikti bu sütun sadece :D)

In [ ]:
df_tips.value_counts('Payer Name')

Payer Name
Aaron Bentley            1
Luke Rice                1
Mario Bradshaw           1
Marissa Jackson          1
Mark Smith               1
                        ..
James Christensen DDS    1
James Hebert DDS         1
James Sanchez            1
James Smith              1
William Roth             1
Length: 244, dtype: int64

In [ ]:
df_tips.value_counts('Payer Name').describe()

count    244.0
mean       1.0
std        0.0
min        1.0
25%        1.0
50%        1.0
75%        1.0
max        1.0
dtype: float64

In [ ]:
df_tips.value_counts('JustName').describe()

count    153.000000
mean       1.594771
std        1.253615
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max        9.000000
dtype: float64

In [ ]:
df_tips.drop('JustName', axis=1, inplace = True)

In [ ]:
df_tips.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251

## Erkeklerin ve kadınların davranış patternlerini ayrı ayrı inceleyip yorumda bulunabilmek için 'df_male' ve 'df_female' adında 2 dataframe oluşturun. Birinde sadece 157 erkek verisi, diğerinde sadece 87 kadın verisi bulunsun.

In [ ]:
df_male = df_tips.loc[df_tips['sex'] == 'Male']
df_female = df_tips.loc[df_tips['sex'] == 'Female'] # .loc işlemi dataframe içerisinde filtreleme işlemi yapar.

In [ ]:
df_male.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260
5,25.29,4.71,Male,No,Sun,Dinner,4,6.32,Erik Smith,213140353657882,Sun9679
6,8.77,2.00,Male,No,Sun,Dinner,2,4.38,Kristopher Johnson,2223727524230344,Sun5985

In [ ]:
df_female.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251
11,35.26,5.00,Female,No,Sun,Dinner,4,8.82,Diane Macias,4577817359320969,Sun6686
14,14.83,3.02,Female,No,Sun,Dinner,2,7.42,Vanessa Jones,30016702287574,Sun3848
16,10.33,1.67,Female,No,Sun,Dinner,3,3.44,Elizabeth Foster,4240025044626033,Sun9715

In [ ]:
df_male.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 157 entries, 1 to 242
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   total_bill        157 non-null    float64
 1   tip               157 non-null    float64
 2   sex               157 non-null    object
 3   smoker            157 non-null    object
 4   day               157 non-null    object
 5   time              157 non-null    object
 6   size              157 non-null    int64
 7   price_per_person  157 non-null    float64
 8   Payer Name        157 non-null    object
 9   CC Number         157 non-null    int64
 10  Payment ID        157 non-null    object
dtypes: float64(3), int64(2), object(6)
memory usage: 14.7+ KB

In [ ]:
df_female.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87 entries, 0 to 243
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   total_bill        87 non-null     float64
 1   tip               87 non-null     float64
 2   sex               87 non-null     object
 3   smoker            87 non-null     object
 4   day               87 non-null     object
 5   time              87 non-null     object
 6   size              87 non-null     int64
 7   price_per_person  87 non-null     float64
 8   Payer Name        87 non-null     object
 9   CC Number         87 non-null     int64
 10  Payment ID        87 non-null     object
dtypes: float64(3), int64(2), object(6)
memory usage: 8.2+ KB

##  Ardından bu 'df_male' ile 'df_female' 'in ödedikleri bahşişler toplamını bulup karşılaştırın.

In [ ]:
df_male['tip'].sum()

485.07

In [ ]:
df_female['tip'].sum()

246.50999999999996

In [ ]:
## Kadın ve erkek sayıları eşit olmadığı için toplamlar üzerinden oranlayarak bir karşılaştırma yapabiliriz. 
## kadın ve erkek sayıları eşit olamsı durumunda erkekler kadınlara göre daha fzala bahşiş vermiş olur.
## Aralarında büyük bir fark yoktur.

## 6.Soruda erkeklerin ve kadınların ödedikleri bahşişler toplamına bakıldığında Erkeklerin kadınlara kıyasla toplamda daha çok bahşiş ödediğini görüyoruz. Fakat biz biliyoruz ki bizim verimizde 157 Erkek, 87 kadın verisi vardı. Dolayısıyla Erkek sayısı daha fazla olduğu için toplam ödeyecekleri bahşiş miktarlarında da daha fazla çıkması oldukça normal bir durum. Bu yüzden daha mantıklı bir çıkarım için bu sefer df_male ile df_female'in bahşiş ORTALAMALARIN'a bakıp kıyaslayın, aralarında anlamlı ve ciddi bir fark var mı ?

In [ ]:
df_male['tip'].mean()

3.0896178343949043

In [ ]:
df_female['tip'].mean()

2.8334482758620685

In [ ]:
df_male['tip'].var()

2.2174242119875878

In [ ]:
df_female['tip'].var()

1.3444275060144346

## Oluşturmuş olduğunuz df_male ile çalışarak elimizdeki verideki erkeklerin yüzde kaçının sigara içtiğini bulun. Aynı şekilde elimizdeki kadınların yüzde kaçının sigara içtiğini de bulun. Aralarında anlamlı bir fark mı yorumlayın.

In [ ]:
maleSmokers = df_male[df_male['smoker'] == 'Yes']

In [ ]:
maleSmokers_rate = len(maleSmokers) / len(df_male['smoker']) *100
maleSmokers_rate

38.21656050955414

In [ ]:
femaleSmokers = df_female[df_female['smoker'] == 'Yes']

In [ ]:
femaleSmokers_rate = len(femaleSmokers) / len(df_female['smoker']) *100
femaleSmokers_rate

37.93103448275862

## Erkeklerin zaman olarak dinnerda mı yoksa lunch'da mı daha fazla yemek yediğini yüzdesel olarak bulun. Aynı işlemi kadınlar için de yapın. Yüzdesel olarak erkeklerin ve kadınların yemek yeme vakitleri arasında anlamlı bir fark var mı yok mu yorumlayın.

In [ ]:
maleDinner = df_male[df_male['time'] == 'Dinner']
maleDinner.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260
5,25.29,4.71,Male,No,Sun,Dinner,4,6.32,Erik Smith,213140353657882,Sun9679
6,8.77,2.00,Male,No,Sun,Dinner,2,4.38,Kristopher Johnson,2223727524230344,Sun5985

In [ ]:
len(maleDinner)

124

In [ ]:
maleDinner_rate = len(maleDinner) / len(df_male['time']) *100
maleDinner_rate

78.98089171974523

In [ ]:
maleLunch = df_male[df_male['time'] == 'Lunch']
maleLunch.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
77,27.20,4.00,Male,No,Thur,Lunch,4,6.80,John Davis,30344778738589,Thur4924
78,22.76,3.00,Male,No,Thur,Lunch,2,11.38,Chris Hahn,3591887177014031,Thur2863
79,17.29,2.71,Male,No,Thur,Lunch,2,8.64,Brian Diaz,4759290988169738,Thur9501
80,19.44,3.00,Male,Yes,Thur,Lunch,2,9.72,Louis Torres,38848369968464,Thur6453
81,16.66,3.40,Male,No,Thur,Lunch,2,8.33,William Martin,4550549048402707,Thur8232

In [ ]:
len(maleLunch)

33

In [ ]:
maleLunch_rate = len(maleLunch) / len(df_male['time']) *100
maleLunch_rate

21.019108280254777

In [ ]:
femaleDinner = df_female[df_female['time'] == 'Dinner']
femaleDinner.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251
11,35.26,5.00,Female,No,Sun,Dinner,4,8.82,Diane Macias,4577817359320969,Sun6686
14,14.83,3.02,Female,No,Sun,Dinner,2,7.42,Vanessa Jones,30016702287574,Sun3848
16,10.33,1.67,Female,No,Sun,Dinner,3,3.44,Elizabeth Foster,4240025044626033,Sun9715

In [ ]:
len(femaleDinner)

52

In [ ]:
femaleDinner_rate = len(femaleDinner) / len(df_female['time'])*100
femaleDinner_rate

59.77011494252874

In [ ]:
femaleLunch = df_female[df_female['time'] == 'Lunch']
femaleLunch.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
82,10.07,1.83,Female,No,Thur,Lunch,1,10.07,Julie Moody,630413282843,Thur4909
85,34.83,5.17,Female,No,Thur,Lunch,4,8.71,Shawna Cook,6011787464177340,Thur7972
117,10.65,1.50,Female,No,Thur,Lunch,2,5.32,Linda Zhang,3560509622598239,Thur9593
118,12.43,1.80,Female,No,Thur,Lunch,2,6.22,Dr. Caroline Tucker,502047186908,Thur8084
119,24.08,2.92,Female,No,Thur,Lunch,4,6.02,Melanie Jordan,676212062720,Thur8063

In [ ]:
len(femaleLunch)

35

In [ ]:
femaleLunch_rate = len(femaleLunch) / len(df_female['time'])*100
femaleLunch_rate

40.229885057471265

##CC Number sütununu kalıcı olarak drop edin. Ardından df'in içindeki sütunların birbirleriyle olan ilişkilerini inceleyin ve çıkan sonuçlar hakkında yorumlarınızı belirtin.

In [ ]:
df_tips.drop('CC Number', axis=1, inplace = True)

In [ ]:
df_tips.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,Sun2251

In [ ]:
df_tips.corr()

                  total_bill       tip      size  price_per_person
total_bill          1.000000  0.675734  0.598315          0.647554
tip                 0.675734  1.000000  0.489299          0.347405
size                0.598315  0.489299  1.000000         -0.175359
price_per_person    0.647554  0.347405 -0.175359          1.000000

In [ ]:
#Done.