<a href="https://colab.research.google.com/github/berfino/pandas_examples/blob/main/Pandas03_examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np 
import pandas as pd

In [ ]:
df = pd.read_csv('mpg.csv')
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

## df'in içindeki sütunların birbirleriyle olan korelasyonlarına(ilişkilerine) bakın.

In [ ]:
df.corr()

,mpg,cylinders,displacement,weight,acceleration,model_year,origin
mpg,1.000000,-0.775396,-0.804203,-0.831741,0.420289,0.579267,0.563450
cylinders,-0.775396,1.000000,0.950721,0.896017,-0.505419,-0.348746,-0.562543
displacement,-0.804203,0.950721,1.000000,0.932824,-0.543684,-0.370164,-0.609409
weight,-0.831741,0.896017,0.932824,1.000000,-0.417457,-0.306564,-0.581024
acceleration,0.420289,-0.505419,-0.543684,-0.417457,1.000000,0.288137,0.205873
model_year,0.579267,-0.348746,-0.370164,-0.306564,0.288137,1.000000,0.180662
origin,0.563450,-0.562543,-0.609409,-0.581024,0.205873,0.180662,1.000000

##  mpg sütunu ile diğer sütunların arasındaki korelasyonları özel olarak inceleyin.(Bunu göstermedik ama df.corr() çağırdıktan sonra aynı normal df'lerde olduğu gibi istediğiniz sütunu çağırabiliyorsunuz.)

In [ ]:
df.corr()['mpg']

mpg             1.000000
cylinders      -0.775396
displacement   -0.804203
weight         -0.831741
acceleration    0.420289
model_year      0.579267
origin          0.563450
Name: mpg, dtype: float64

In [ ]:
df.corr()['mpg']['cylinders']

-0.7753962854205539

In [ ]:
df.corr()['mpg']['displacement']

-0.8042028248058979

In [ ]:
df.corr()['mpg']['weight']

-0.8317409332443344

In [ ]:
df.corr()['mpg']['acceleration']

0.42028891210165054

In [ ]:
df.corr()['mpg']['model_year']

0.5792671330833092

In [ ]:
df.corr()['mpg']['origin']

0.5634503597738431

## cylinders sütununda hangi unique değerler olduğuna liste halinde bakın

In [ ]:
df['cylinders'].unique()

array([8, 4, 6, 3, 5])

## cylinders sütunundaki unique değerlerin her birinden kaçar adet olduğuna bakın.

In [ ]:
df['cylinders'].value_counts()

4    204
8    103
6     84
3      4
5      3
Name: cylinders, dtype: int64

## Arabanın modeli 75-80 yılları arasındaki arabaların hepsini getirin.(75 ve 80 dahil)

In [ ]:
df.loc[(df['model_year'] >= 75) & (df['model_year'] <= 80)].head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
152,19.0,6,225.0,95,3264,16.0,75,1,plymouth valiant custom
153,18.0,6,250.0,105,3459,16.0,75,1,chevrolet nova
154,15.0,6,250.0,72,3432,21.0,75,1,mercury monarch
155,15.0,6,250.0,72,3158,19.5,75,1,ford maverick
156,16.0,8,400.0,170,4668,11.5,75,1,pontiac catalina

## horsepower'ı 155-180 arasındaki arabaların hepsini getirin.(155 dahil, 180 dahil değil)(Bu sorguyu yapabilmeniz için horsepower sütununu object durumdan float duruma getirmeniz gerekiyor.)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    int64
 8   name          398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [ ]:
df[df['horsepower'] == '?']

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
32,25.0,4,98.0,?,2046,19.0,71,1,ford pinto
126,21.0,6,200.0,?,2875,17.0,74,1,ford maverick
330,40.9,4,85.0,?,1835,17.3,80,2,renault lecar deluxe
336,23.6,4,140.0,?,2905,14.3,80,1,ford mustang cobra
354,34.5,4,100.0,?,2320,15.8,81,2,renault 18i
374,23.0,4,151.0,?,3035,20.5,82,1,amc concord dl

In [ ]:
df['horsepower'].replace('?',np.nan, inplace = True)

In [ ]:
df['horsepower'] = df['horsepower'].astype(float)

In [ ]:
df.loc[(df['horsepower'] >= 155) & (df['horsepower'] < 180)].head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
10,15.0,8,383.0,170.0,3563,10.0,70,1,dodge challenger se
11,14.0,8,340.0,160.0,3609,8.0,70,1,plymouth 'cuda 340
38,14.0,8,350.0,165.0,4209,12.0,71,1,chevrolet impala
39,14.0,8,400.0,175.0,4464,11.5,71,1,pontiac catalina brougham

##7) Elinizdeki df'i horsepower'a göre büyükten küçüğe sıralayın ardından df'in indexlerini sıfırlayın.

In [ ]:
df = df.sort_values('horsepower', ascending=False)
df = df.reset_index(drop=True)

In [ ]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,16.0,8,400.0,230.0,4278,9.5,73,1,pontiac grand prix
1,12.0,8,455.0,225.0,4951,11.0,73,1,buick electra 225 custom
2,14.0,8,455.0,225.0,3086,10.0,70,1,buick estate wagon (sw)
3,14.0,8,455.0,225.0,4425,10.0,70,1,pontiac catalina
4,14.0,8,454.0,220.0,4354,9.0,70,1,chevrolet impala

## Elinizdeki df'den en küçük 5 acceralation'a sahip olan arabaları getirin.

In [ ]:
df.nsmallest(5, 'acceleration')

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
37,14.0,8,340.0,160.0,3609,8.0,70,1,plymouth 'cuda 340
6,14.0,8,440.0,215.0,4312,8.5,70,1,plymouth fury iii
14,15.0,8,390.0,190.0,3850,8.5,70,1,amc ambassador dpl
4,14.0,8,454.0,220.0,4354,9.0,70,1,chevrolet impala
0,16.0,8,400.0,230.0,4278,9.5,73,1,pontiac grand prix

## CIA Country Facts Questions

In [ ]:
df_CIA = pd.read_csv('CIA_Country_Facts.csv')
df_CIA.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
1,Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500.0,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,6000.0,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000.0,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000.0,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN

In [ ]:
df_CIA.shape

(227, 20)

## Elimizdeki CIA'in ülkeler hakkında topladığı basit açık kaynak verileri df'inde kaç ülkenin verisi olduğunu bulun.

In [ ]:
df_CIA['Country'].value_counts()

Afghanistan    1
Rwanda         1
Nauru          1
Nepal          1
Netherlands    1
              ..
Greece         1
Greenland      1
Grenada        1
Guadeloupe     1
Zimbabwe       1
Name: Country, Length: 227, dtype: int64

In [ ]:
len(df_CIA['Country'].unique())

227

## Elimizdeki sütunlardan hangilerinde kaçar tane nan veri olduğunu bulun.

In [ ]:
df_CIA.isna().sum()

Country                                0
Region                                 0
Population                             0
Area (sq. mi.)                         0
Pop. Density (per sq. mi.)             0
Coastline (coast/area ratio)           0
Net migration                          3
Infant mortality (per 1000 births)     3
GDP ($ per capita)                     1
Literacy (%)                          18
Phones (per 1000)                      4
Arable (%)                             2
Crops (%)                              2
Other (%)                              2
Climate                               22
Birthrate                              3
Deathrate                              4
Agriculture                           15
Industry                              16
Service                               15
dtype: int64

## Elimizde tamamen nan değerlerden oluşan bir satır varsa o satırı düşürün.(Tamamen nan değerlerden oluşan bir satır olup olmadığını, herhangi bir satırın düşüp düşmediğini kontrol edin)

In [ ]:
df_CIA.dropna(how= 'all',inplace= True)

In [ ]:
df_CIA.shape

(227, 20)

##  Her Bölgedeki(Region) toplam kişi sayısına bakın.

In [ ]:
df_CIA.groupby('Region')['Population'].sum()

Region
ASIA (EX. NEAR EAST)                   3687982236
BALTICS                                   7184974
C.W. OF IND. STATES                     280081548
EASTERN EUROPE                          119914717
LATIN AMER. & CARIB                     561824599
NEAR EAST                               195068377
NORTHERN AFRICA                         161407133
NORTHERN AMERICA                        331672307
OCEANIA                                  33131662
SUB-SAHARAN AFRICA                      749437000
WESTERN EUROPE                          396339998
Name: Population, dtype: int64

In [ ]:
df_CIA.groupby('Region')['Population'].sum().max()

3687982236

##  Climate değerleri nan olanlar, tüm df'in ortalama climate değeriyle doldurun.(Gerçek bir analiz yapıyor olsaydık bu çok mantıklı bir hareket olmazdı, belki her bulunduğu bölgenin ortalama climate değeriyle doldurmak daha mantıklı bir hareket olurdu. Fakat şimdilik bu kadar kasmaya gerek yok. nan değerleri tüm climate ortalamalarıyla doldursanız yeterli.)

In [ ]:
df_CIA['Climate'].fillna(df_CIA['Climate'].mean(),inplace= True)

In [ ]:
df_CIA.Climate.isna().sum()

0

In [ ]:
df_CIA.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
1,Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500.0,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,6000.0,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000.0,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000.0,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN

## Bölgeler ve Ülkelere göre gruplama yapın ardından Doğum miktarlarına bakın.

In [ ]:
group_region =  df_CIA.groupby(['Country','Region'])['Birthrate'].sum()
group_region

Country         Region
Afghanistan     ASIA (EX. NEAR EAST)                   46.60
Albania         EASTERN EUROPE                         15.11
Algeria         NORTHERN AFRICA                        17.14
American Samoa  OCEANIA                                22.46
Andorra         WESTERN EUROPE                          8.71
                                                       ...
West Bank       NEAR EAST                              31.67
Western Sahara  NORTHERN AFRICA                         0.00
Yemen           NEAR EAST                              42.89
Zambia          SUB-SAHARAN AFRICA                     41.00
Zimbabwe        SUB-SAHARAN AFRICA                     28.01
Name: Birthrate, Length: 227, dtype: float64

## Veriyi istediğiniz şekilde inceleyerek bu zamana kadar öğrendiğiniz bilgilerle anlamlı 5 adet yargı cümlesi çıkartın. ( En çok insan Asya kıtasında yaşıyor, En çok insan Afrinın sahralarında ölüyor, Ortalama en yüksek telefon sahibi Kuzey Amerikada, En çok okuma yazma oranına sahip ülkeler Baltık ülkeleri vb.)

In [ ]:
max_area_country = df_CIA.sort_values("Area (sq. mi.)", ascending=False).iloc[0]["Country"]
print("En çok alana sahip ülke: ", max_area_country)

En çok alana sahip ülke:  Russia

In [ ]:
max_infant_mortality = df_CIA.sort_values("Infant mortality (per 1000 births)", ascending=False).iloc[0]["Country"]
print("Bebek Ölüm oranı en fazla olan ülke : ", max_infant_mortality)

Bebek Ölüm oranı en fazla olan ülke :  Angola

In [ ]:
max_literacy = df_CIA.sort_values("Literacy (%)", ascending=False).iloc[0]["Country"]
print("En yüksek okuma-yazma yüzdesine sahip ülke : ", max_literacy)

En yüksek okuma-yazma yüzdesine sahip ülke :  Australia

In [ ]:
max_arable = df_CIA.sort_values("Arable (%)", ascending=False).iloc[0]["Country"]
print("En yüksek tarıma elverişli alan yüzdesine sahip ülke : ", max_arable)

En yüksek tarıma elverişli alan yüzdesine sahip ülke :  Bangladesh

In [ ]:
max_agriculture = df_CIA.sort_values("Agriculture", ascending=False).iloc[0]["Country"]
print("En Fazla tarım yapılan ülke : ", max_agriculture)

En Fazla tarım yapılan ülke :  Liberia

In [ ]:
#Done.